.gitignore
.dockerignore
Dockerfile
CODE_OF_CONDUCT.md
CODEOWNERS
CONTRIBUTING.md
LICENSE
INSTRUCTIONS.de.md
INSTRUCTIONS.md
README.md
*.csv
*.db
*.rid
images/*
app/team.js
app/settings.js
app/data/*
app/log/*
